* {
    /* No spacing reset */
    margin: 0;
    padding: 0;
}

section.details-section-feed, header, footer {
    background-color: #2f3942;
}

.grey-color-p {
    color: #a68973;
}


/* Bootstrap comments */

/*
  
    Service details section:
            La 1e colonne à une place de 4
            La 2e colonne à une place de 8
            
*/
